# Ignore everything in the folder
/01__Triggers__Clonning_Opp_Products/*
# But do not ignore the .gitignore file itself
!/01__Triggers__Clonning_Opp_Products/.gitignore
# And do not ignore the specific trigger file
!/force-app/main/default/triggers/NEO_OpportunitylineitemTrigger__Backup.trigger

!/force-app/main/default/triggers/NEO_OpportunitylineitemTrigger.trigger

!.eslintignore
!.eslintrc.json
node_modules
